build/
images/linux/
pre-built/linux/
.petalinux/*
!.petalinux/metadata
*.o
pyshtables.py
project-spec/configs/*
!project-spec/configs/config
!project-spec/configs/rootfs_config
project-spec/hw-description/*
!project-spec/hw-description/metadata
project-spec/meta-plnx-generated/
/components/plnx_workspace
/components/yocto
