build
images
.petalinux/*
!.petalinux/metadata
*.o
*.xsa
project-spec/configs/*
!project-spec/configs/config
!project-spec/configs/rootfs_config
project-spec/hw-description
components/plnx_workspace
components/yocto
.Xil
